<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%=title%>
    </title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/_navbar.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/shop.css">
    <link rel="stylesheet" href="/css/last.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">RoboBay</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <%for (let i=0;i<nav.length;i++){%>
                <li><a href="<%=nav[i].link%>">
                        <%=nav[i].title%></a></li>
                <%}%>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div id="toppad"></div>


    <div class="container">
        <div id="tit">
            <h1>RoboBay</h1>
            <h3>Get Robots,Make Your Life Easyer</h3>
        </div>
        <div class="row">


            <form id="buyform" method="get" action="/admin/delrobot/">

                <div class="container">

                    <div class="row" style="margin-left: 5%">
                        <div id="robot">
                            <select class="q col-xs-6 col-sm-6 col-md-4 col-lg-3" required name="Robo">
                                <%for(let i=0;i<robot.length;i++){%>
                                <option name="<%=robot[i].Name%>" value="<%=robot[i]._id%>">
                                    <%=robot[i].Name%>
                                </option>
                                <%}%>
                            </select>
                        </div>
                        <button type="submit" id="buy" class="q btn btn-primary col-xs-10 col-sm-6 col-md-4 col-lg-3">Delete
                            Now</button>
                    </div>
                </div>


            </form>


        </div>
    </div>



    <div id="toppad"></div>

    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <a class="navbar-brand footernav" href="https://github.com/denniarems/roboshop">Copyright © Your Website 2018</a>
    </nav>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</body>

</html>
